@tailwind base;
@tailwind components;
@tailwind utilities;

// Remove X icon from search input
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

html {
  @apply text-black-75 h-[100vh];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-black-100;
}

h1 {
  @apply text-4xl sm:text-5xl;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

h3 {
  @apply text-2xl sm:text-3xl;
}

h4 {
  @apply text-xl sm:text-2xl;
}

h5 {
  @apply text-lg sm:text-xl;
}

h6 {
  @apply sm:text-lg;
}

a {
  @apply text-secondary;
}

.rhap_controls-section .rhap_additional-controls {
  @apply hidden;
}

.gradient-text {
  @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent pb-[6px] mb-[-6px];
}

.input {
  @apply px-[24px] py-[12px] text-black-75 placeholder:text-black-50 focus:placeholder:text-black-25 focus:outline-1 focus:outline-primary outline-none outline-offset-0 bg-black-5 rounded-full;
}

.btn {
  @apply rounded-full px-[16px] py-[12px] font-semibold;

  &--primary {
    @apply text-white bg-primary hover:bg-primary-dark focus:bg-primary-dark disabled:bg-black-75 disabled:text-black-50;
  }
}

.chat__icon-btn {
  @apply text-secondary hover:opacity-75;

  &:disabled {
    @apply text-black-50 hover:opacity-100 cursor-not-allowed;
  }
}

.icon-btn {
  @apply p-[6px] rounded-[8px] hover:bg-black-5 active:bg-black-10 text-black-50;
}

.message {
  @apply px-[16px] py-[10px] rounded-[24px] break-all w-fit max-w-[640px];

  &--own {
    @apply text-white bg-secondary;

    .rhap_container {
      @apply bg-secondary shadow-none;

      svg {
        @apply text-white;
      }
    }

    .rhap_time {
      @apply text-white;
    }

    .rhap_volume-indicator,
    .rhap_progress-indicator {
      @apply bg-white;
    }

    .rhap_volume-bar,
    .rhap_progress-bar {
      @apply bg-black-25;
    }

    .rhap_progress-filled {
      @apply bg-black-50;
    }
  }

  &--other {
    @apply bg-black-10;

    .rhap_container {
      @apply bg-black-10 shadow-none;

      svg {
        @apply text-black-75;
      }
    }

    .rhap_time {
      @apply text-black-75;
    }

    .rhap_volume-indicator,
    .rhap_progress-indicator {
      @apply bg-black-75;
    }

    .rhap_volume-bar,
    .rhap_progress-bar {
      @apply bg-black-25;
    }

    .rhap_progress-filled {
      @apply bg-black-75;
    }
  }
}

.user-online-dot {
  @apply absolute right-0 bottom-[5px] w-[10px] h-[10px] rounded-full bg-online border border-white;
}

.left-panel {
  @apply px-[12px] py-[16px] sm:w-[90px] lg:w-[360px] flex flex-row sm:flex-col gap-[22px] border-b sm:border-b-0 sm:border-r border-black-10 sm:h-[100vh];

  &__unread-messages-dot {
    @apply absolute right-[4px] bottom-[6px] w-[10px] h-[10px] rounded-full bg-secondary border border-white;
  }
}

.ReactModal__Overlay {
  background-color: rgb(23, 3, 22, 0.5) !important;
}

.mobile-menu {
  @apply sm:hidden rounded-[8px] bg-white border border-black-10 shadow-md px-[16px] py-[8px] w-[196px] z-10;

  &__item {
    @apply text-black-75 text-[18px] font-semibold hover:bg-black-5 w-full p-[16px] rounded-[8px];
  }
}

@keyframes pulsingDotAnimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pulsing-dot {
  opacity: 0;

  &:nth-child(1) {
    animation: pulsingDotAnimate 1s infinite;
  }

  &:nth-child(2) {
    animation: pulsingDotAnimate 1s 0.33s infinite;
  }

  &:nth-child(3) {
    animation: pulsingDotAnimate 1s 0.66s infinite;
  }
}

@mixin call__action($padding) {
  padding: $padding;
  @apply rounded-full hover:opacity-90 focus:opacity-90 text-white;
}

.current-call__action {
  @include call__action(7px);
}

.coming-call__action {
  @include call__action(8px);
}

[role='tooltip'].react-tooltip {
  @apply rounded-[8px] bg-black-100 drop-shadow-md z-10;
}

.introjs {
  &-overlay {
    cursor: default !important;
  }

  &-tooltip {
    @apply rounded-[24px] w-[300px] sm:w-[448px] max-w-[300px] sm:max-w-[448px] shadow-none drop-shadow-xl;

    &-header,
    &text,
    &buttons {
      @apply px-[24px];
    }

    &-header {
      @apply pt-[24px];
    }

    &buttons {
      @apply pb-[24px] border-black-10;
    }

    .introjs-button {
      @apply border-none shadow-none;
      text-shadow: none;

      @extend .btn;
      @extend .btn--primary;
    }

    .introjs-skipbutton {
      @apply text-black-75;
    }
  }

  &-helperLayer {
    box-shadow: rgb(23, 3, 22, 0.5) 0px 0px 0px 5000px !important;
  }
}
